In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

### 울산 날씨데이터 (2022 ~ 2023)

In [2]:
US_df22 = pd.read_csv('152_2223.csv', encoding = 'cp949')
US_df23 = pd.read_csv('152_2324.csv', encoding = 'cp949')

US_df22['지점'] = '울산'
US_df23['지점'] = '울산'

US_df = pd.concat([US_df22, US_df23], axis = 0)
US_df.head(3)

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,울산,2022-01-01,-0.6,-6.3,559,5.9,1551,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,울산,2022-01-02,3.4,-2.3,809,9.7,1244,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,울산,2022-01-03,2.8,-1.3,535,9.3,1356,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
US_df.columns

# 필요한 컬럼
# '지점', '일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)', 

ulsan_wth = US_df[['지점', '일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)']]

ulsan_wth = ulsan_wth.rename(columns={'평균기온(°C)' : '평균기온',
                                      '최저기온(°C)' : '최저기온', 
                                      '최고기온(°C)' : '최고기온', 
                                      '일강수량(mm)' : '강수량', 
                                      '평균 풍속(m/s)' : '풍속', 
                                      '평균 상대습도(%)' : '습도'})

ulsan_wth

     지점          일시  평균기온  최저기온  최고기온  강수량   풍속    습도
0    울산  2022-01-01  -0.6  -6.3   5.9  NaN  2.1  19.6
1    울산  2022-01-02   3.4  -2.3   9.7  NaN  1.8  30.5
2    울산  2022-01-03   2.8  -1.3   9.3  NaN  2.4  24.1
3    울산  2022-01-04   3.1  -1.1   8.0  NaN  1.9  31.5
4    울산  2022-01-05   3.5  -0.7   8.1  0.2  1.9  52.8
..   ..         ...   ...   ...   ...  ...  ...   ...
360  울산  2023-12-27   5.5   2.0  11.8  NaN  1.9  63.1
361  울산  2023-12-28   5.1  -0.2  11.7  NaN  1.9  59.3
362  울산  2023-12-29   5.0   0.5  11.8  NaN  2.3  53.1
363  울산  2023-12-30   6.4   0.0  14.3  1.1  1.8  56.8
364  울산  2023-12-31   6.0   3.3  10.1  0.1  2.7  71.8

[730 rows x 8 columns]

### 포항 날씨데이터 (2022 ~ 2023)

In [10]:
PH_df22 = pd.read_csv('138_2223.csv', encoding = 'cp949')
PH_df23 = pd.read_csv('138_2324.csv', encoding = 'cp949')

PH_df22['지점'] = '포항'
PH_df23['지점'] = '포항'

PH_df = pd.concat([PH_df22, PH_df23], axis = 0)
PH_df.tail(3)

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
362,포항,2023-12-29,5.2,0.9,708,10.1,1518,NaN,NaN,NaN,...,6.0,8.1,11.7,13.9,17.6,18.4,2.1,3.1,NaN,NaN
363,포항,2023-12-30,7.0,2.7,748,12.0,1332,1.33,NaN,NaN,...,6.3,8.2,11.6,13.8,17.6,18.4,1.7,2.5,0.5,NaN
364,포항,2023-12-31,6.9,5.2,552,9.9,1043,1.25,NaN,NaN,...,6.9,8.4,11.6,13.7,17.5,18.5,1.3,1.8,0.0,NaN

In [11]:
pohang_wth = PH_df[['지점', '일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)', '평균 풍속(m/s)', '평균 상대습도(%)']]

pohang_wth = pohang_wth.rename(columns={'평균기온(°C)' : '평균기온',
                                      '최저기온(°C)' : '최저기온', 
                                      '최고기온(°C)' : '최고기온', 
                                      '일강수량(mm)' : '강수량', 
                                      '평균 풍속(m/s)' : '풍속', 
                                      '평균 상대습도(%)' : '습도'})

pohang_wth

     지점          일시  평균기온  최저기온  최고기온  강수량   풍속    습도
0    포항  2022-01-01  -0.6  -6.1   5.6  NaN  3.1  24.8
1    포항  2022-01-02   3.3  -0.8   8.7  NaN  2.5  35.8
2    포항  2022-01-03   2.0  -1.4   7.8  NaN  2.4  31.4
3    포항  2022-01-04   3.7   0.1   9.3  NaN  1.6  36.1
4    포항  2022-01-05   3.5  -1.0   7.2  0.0  1.9  55.0
..   ..         ...   ...   ...   ...  ...  ...   ...
360  포항  2023-12-27   5.5   1.8   9.8  NaN  1.9  62.9
361  포항  2023-12-28   5.5   0.7  11.1  NaN  2.4  54.8
362  포항  2023-12-29   5.2   0.9  10.1  NaN  2.9  51.3
363  포항  2023-12-30   7.0   2.7  12.0  0.5  2.6  49.9
364  포항  2023-12-31   6.9   5.2   9.9  0.0  2.5  64.9

[730 rows x 8 columns]